@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

html {
	scroll-behavior: smooth;
}

/* cursor */

#cursor{
    position: fixed;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    pointer-events: none;
    padding: 0;
    margin: 0;
    z-index: 100;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 2px 6px 0 rgba( 231, 138, 235, 0.2 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: width 0.3s, height 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
body:hover > #cursor{
    opacity: 1;
}
.cursor-dark{
    background: rgba( 0, 0, 0, 0.25 )!important;
    box-shadow: 0 1px 6px 0 rgba( 31, 38, 135, 0.27 )!important;
    border: 1px solid rgba( 255, 255, 255, 0.1 )!important;
}

#cursor-dot{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #222;
    transition: opacity 0.3s;
}
.cursor-dot-dark{
    background: #fff!important;
}

/*cursor hover */

@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
  25%{
    background-position: 50% 100%;
  }
	50% {
		background-position: 100% 50%;
	}
  75%{
    background-position: 50% 0%;
  }
	100% {
		background-position: 0% 0%;
	}
}

h1:hover #cursor{
    width: 40px;
    height: 40px;
}


body{
    background: #fff0;
    background-attachment: fixed;
    animation: gradient-ball 1s infinite;
    cursor: none;
    transition: all 0.5s;
}
.body-dark{
    background: #111;
    color:#fff;
    z-index: 1;
}

#bg-ball1{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image :radial-gradient(31.57% 51.57% at 65% 50%, #f9b3f8 0%, rgba(255, 255, 255, 0) 70%);
    animation: ball-1 5s infinite;
    transform-origin: 50% 50%;
    z-index:-6;
}
.bg-ball1-dark{
    background-image :radial-gradient(31.57% 51.57% at 65% 50%, #5d025d6a 0%, #1110 80%)!important;
}
.bg-ball2-dark{
    background-image: radial-gradient(31.57% 51.57% at 60% 55%, #00345f49 0%, #1110 80%)!important;
}
#bg-ball2{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(31.57% 51.57% at 60% 55%, #6fbeff88 0%, rgba(255, 255, 255, 0) 70%);
    animation: ball-2 5s infinite;
    transform-origin: 50% 50%;
    z-index:-6;
}


@keyframes ball-1 {
    0% { 	transform: rotate(0deg) translateX(5%) rotate(0deg); }
	100%   {  transform: rotate(360deg) translateX(5%) rotate(-360deg); }
}
@keyframes ball-2 {
    0% { transform: rotate(360deg) translateX(5%) rotate(-360deg); }
	100%   { transform: rotate(0deg) translateX(5%) rotate(0deg); }
}


.literature-card:hover #cursor{
    width: 40px;
}


.navbar{
    width: auto;
    height: 60px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 2px 12px 0 rgba( 231, 138, 235, 0.2 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.navbar-dark{
    backdrop-filter: blur(8px) ;
    -webkit-backdrop-filter: blur(8px) ;
    background-color: rgba(17, 25, 40, 0.5);
    box-shadow: 0 2px 6px 0 rgba(31, 38, 135, 0.1 );
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.navbar div{
    margin:0 5px;
    transform-origin: 50% 100%;
    height: 40px!important;
    transition: all 0.2s ease-in-out;
    padding: 5px 5px;
    cursor:none;
    border-radius: 12px;
}

.navbar .nav-item:hover{
    transform: scale(1.5);
    padding: 5px 20px;
}
a{
    cursor:none;
    text-decoration: none;
}


.navbar div:active{
    transform: scale(1.2);
    padding: 5px 20px;
}

.navbar .active-dot{
    background: #c7c1f5;
    width: 6px;
    max-height: 6px;
    padding: 0%;
    margin: 0% auto;
    border-radius: 50%;
    box-shadow: 0 0 4px 2px #ddd9f8;
    animation: dot-appear 0.1s ease-in-out;

}
.active-dot:hover{
    box-shadow: 0 0 0 0 #ddd9f8;
}
@keyframes dot-appear {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }

    
}

#darkmode{
    background-color: #fff0;
    border:none;
    cursor:none;
    padding: 0;
}



/* home */

#home{
    width: 50%;
    margin:auto;
    text-align: left;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
  
#home h1{ 
    font-size: 3em;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #222;
    text-align: left;
    margin-top: 240px;
}
#home h1::selection{
    background: #222;
    color: #fff;
}
.home-dark{
    color:#fff;
}
.home-dark h1{
    color: #fff !important;
}
.home-dark h1::selection{
    background: #fff !important;
    color: #111 !important;
}
.home-dark p{
    color:#fffb !important;
}
.home-dark p::selection{
    background: #fffb !important;
    color: #111 !important;
}
#home p{
    font-size: 1.1em;
    font-family: 'Inter', sans-serif;
    line-height: 2em;
    font-weight: 400;
    color: #222b;
    text-align: left;
    margin-top: 20px;
}
#home p::selection{
    background: #333;
    color: #fff;
}
#home hr{
    width: 20%;
    border: none;
    margin-left:0;
    height:1px;
    background-color: #2222;
    padding: 0px;
}


/* Projects */

#projects{
    width: 80%;
    margin:auto;
}
#project-cards, #literature,#hobbies,#WIPs{
    width: 100%;
    margin:auto;
    text-align: left;
    scroll-snap-stop: always;
    scroll-snap-align: start;
    /* make the grid responsive */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 0px;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-flow: dense;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.content-header{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;

}
.content-header-dark h1{
    color: #fff !important;
}
.content-header-dark h1::selection{
    background: #fff !important;
    color: #111 !important;
}
.content-header h1{
    font-size: 2.5em;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #222;
    text-align: left;
    margin: 20px 30px 0px 30px;
}
.content-header h1::selection{
    background: #222;
    color: #fff;
}
.content-header-dark p{
    color: #fffb !important;
}
.content-header-dark p::selection{
    background: #fffb !important;
    color: #111 !important;
}
.content-header p{
    font-size: 1.1em;
    font-family: 'Inter', sans-serif;
    line-height: 2em;
    font-weight: 400;
    color: #222b;
    text-align: left;
    margin: 20px 30px;
}
.content-header p::selection{
    background: #333;
    color: #fff;
}

.project-card{
    height: 20em;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    padding: 4px;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 2px 12px 0 rgba( 231, 138, 235, 0.1 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.project-card-dark{
    backdrop-filter: blur(8px) ;
    -webkit-backdrop-filter: blur(8px) ;
    background-color: rgba(17, 25, 40, 0.25);
    box-shadow: 0 2px 6px 0 rgba(31, 38, 135, 0.1 );
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.project-card-img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.project-card-title{
    width: 100%;
    color: #222;
    text-align: left;
    display: flex;
    align-items: center;
    height:0;
    overflow: hidden;
    transition: all 0.2s ease-out;
}
.project-card h1{
    font-size: 0em;
    padding-left: 2px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin: 0;
}
.project-card-title-dark h1{
    color: #fff !important;
}
.project-card-title-dark h1::selection{
    background: #fff !important;
    color: #111 !important;
}

.project-card-title h1::selection{
    background: #222;
    color: #fff;
}
.project-card-description{
    height: 20%;
    width: 100%;
    display: flex;
    height:0;
    overflow: hidden;
    transition: all 0.2s ease-out;
}
.project-card p{
    font-size: 0em;
    font-family: 'Inter', sans-serif;
    line-height: 1em;
    font-weight: 400;
    padding-left: 2px;
    color: #222b;
    text-align: left;
    margin:0.5em 0;
}
.project-card-description p::selection{
    background: #333;
    color: #fff;
}
.project-card-description-dark p{
    color: #fffb !important;
}
.project-card-description-dark p::selection{
    background: #fffb !important;
    color: #111 !important;
}


.project-card:hover .project-card-title{
    font-size: 1.7em;
    height:20%;
    overflow: visible;
}
.project-card:hover .project-card-description{
    font-size: 0.9em;
    height:20%;
    overflow: visible;
}
.project-card:hover .project-card-image{
height: 60%;
}


/* literature */

.literature-card{
    width: 44%;
    height: 10em;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 16px;
    padding: 10px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 2px 12px 0 rgba( 231, 138, 235, 0.4 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.literature-card-dark{
    backdrop-filter: blur(8px) ;
    -webkit-backdrop-filter: blur(8px) ;
    background-color: rgba(17, 25, 40, 0.25);
    box-shadow: 0 2px 6px 0 rgba(31, 38, 135, 0.1 );
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.literature-card-image{
    height:100%;
    width: 100%;
    margin:none;
    padding:none;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.2s ease-out;
}
.literature-card-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: all 0.3s ease-out;
}
.literature-card:hover img{
    filter: brightness(0.3);
}

.literature-card h1{
    position: absolute;
    font-size: 1.7em;
    width: 100%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #fff;
}
.literature-card h1::selection{
    background: #fff;
    color: #222;
}

/* hobbies */

.hobbies-card{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    margin: 1em auto 5em auto;
}


.hobbies-card h1{
    font-size: 5.5em;
    text-align: center;
    font-family: 'MagnatPoster Bold', sans-serif;
    font-weight: 700;
    margin:0 auto 0.5em auto;
    color: #222a;
    transition: all 0.2s ease-in-out;
}
.hobbies-card h1:hover{
    color: #222;
}
.hobbies-card h1::selection{
    background: #222;
    color: #fff;
}
.hobbies-card-dark h1{
    color: #fff7 !important;
}
.hobbies-card-dark h1:hover{
    color: #fff !important;
}
.hobbies-card-dark h1::selection{
    background: #fff !important;
    color: #111 !important;
}


/* load magnat font */
@font-face {
    font-family: 'MagnatPoster';
    src: url('fonts/MagnatPoster-Regular.otf');
}
@font-face {
    font-family: 'MagnatPoster Bold';
    src: url('fonts/MagnatPoster-Bold.otf');
}

/* WIPs */



/* media queries */

/* mobile */
@media only screen and (max-width: 600px) {
    .navbar{
        display: none;
    }
    #home{
        height: 100vh;
        width: 90vw;
        margin: 0 auto;
    }
    #home h1{
        font-size: 3em;
        margin-bottom: 0.5em;
        text-align: center;
    }
    #home hr{
        width: 50%;
        margin: 0 auto;
    }
    #home p{
        text-align: center;
    }
    #cursor{
        display: none;
    }
    #bg-ball1{
        width: 100vw;
        height: 40vh;
        margin: 15vh 0;
    }
    #bg-ball2{
        width: 100vw;
        height: 40vh;
        margin: 15vh 0;
    }
    .hobbies-card h1{
        font-size: 3.5em;
    }
    #projects{
        width: 90vw;
        margin: 0 auto;
    }
    .project-card{
        width: 90vw;
        margin: 20px auto;
        height: 14em;
    }
    #literature{
        width: 90vw;
        margin: 0 auto;
    }
    .literature-card{
        width: 90vw;
        margin: 10px auto;
        height: 8em;
    }
    #hobbies{
        width: 90vw;
        margin: 0 auto;
    }
    .hobbies-card{
        width: 90vw;
        margin: 0 auto;
    }
}